body {
    margin: auto;
}

.lp {
    background-color: rgb(255, 202, 255);
    width: 100%;
    height: 760px;
    background-image: url(../img/gourmet_ototowa-kominka-cafe3.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.lp {
    overflow: hidden;
    position: relative;
}

.lp:before,
.lp:after {
    animation: 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    background: #fff;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    z-index: 1;
}

.lp:before {
    animation-name: lp-before;
    top: 0;
    bottom: 50%;
}

.lp:after {
    animation-name: lp-after;
    top: 50%;
    bottom: 0;
}

@keyframes lp-before {
    100% {
        transform: translateX(100%);
    }
}

@keyframes lp-after {
    100% {
        transform: translateX(-100%);
    }
}

.lptext1 {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 1px #000;
    -webkit-text-stroke: 1px #000;
    font-size: 40px;
    font-family: serif;
}

span {
    color: rgb(250, 250, 102);
}

.lp2 {
    width: 100%;
    height: 500px;
    display: flex;
}

.lp2moji {
    font-size: 50px;
}

.like {
    width: -webkit-calc(100%/3);
    width: calc(100% / 3);
    width: 100%;
    background-image: url(../img/gasituii.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px #000;
    -webkit-text-stroke: 1px #000;
}

.post {
    width: -webkit-calc(100%/3);
    width: calc(100% / 3);
    width: 100%;
    background-image: url(../img/ie2.jpeg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px #000;
    -webkit-text-stroke: 1px #000;
}

.kazari {
    width: -webkit-calc(100%/3);
    width: calc(100% / 3);
    width: 100%;
    background-image: url(../img/ienonaka.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px #000;
    -webkit-text-stroke: 1px #000;
}


/* .kazarimoji {} */

.lp3 {
    width: 100%;
    height: 500px;
    display: flex;
}

.volume {
    width: 50%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px #000;
    -webkit-text-stroke: 1px #000;
    font-size: 20px;
}

.monthly {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 1px #000;
    -webkit-text-stroke: 1px #000;
    font-size: 20px;
}

.lp3moji {
    font-size: 60px;
}

.lp4 {
    background-color: rgb(220, 176, 177);
    width: 100%;
    height: 760px;
    display: flex;
}

.hanagazou {
    width: 50%;
    margin: 10px;
    background-image: url(../img/260_ext_01_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.setumei {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setumeibun {
    height: 100px;
}